* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#googleMap{
    width: 80%;
    height: 400px;
}

.user__body{
    
}

.user__modal{

}

.user__bodyHide{
    display: none;
}

.user__modalShow{

}

.user__modalHide{
    display: none;
}

.user__confirmation{

}

.user__confirmationHide{
    display: none;
}